# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/
.env

# Flask files
instance/

# Python distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Node modules and build directory for React frontend
frontend/node_modules/
frontend/build/

# Logs and databases
*.log
*.sqlite
*.db

# Operating System files
.DS_Store
Thumbs.db

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
*.swp
*.swo
*.sublime-workspace