@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1F2937;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Styles for Chat Component */
.chat-container {
  @apply bg-gray-800 text-white p-4 rounded-lg shadow;
}

.message {
  @apply p-2 m-2 bg-gray-700 rounded-lg;
}

.message code {
  @apply bg-gray-600 text-green-300 p-2 rounded;
}

.copy-btn {
  @apply ml-2 bg-gray-600 bg-opacity-75 hover:bg-gray-500 text-gray-300 hover:text-white font-bold py-1 px-2 rounded inline-flex items-center transition-colors duration-300;
}

/* Styling for toast notifications */
.toast-container {
  @apply bottom-0 right-0 m-4;
}

.toast-message {
  @apply text-sm;
}

.user-message {
  text-align: left;
}

/* Styling for ReactMarkdown */
.message-content p {
  margin-bottom: 1rem;
}

.message-content ul,
.message-content ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.message-content ul {
  list-style-type: disc;
}

.message-content ol {
  list-style-type: decimal;
}

.message-content li {
  margin-bottom: 0.5rem;
}

.bg-dark-charcoal {
  background-color: #131313; /* Dark charcoal color */
}

/* Styles for the scroll-to-bottom button */
.scroll-to-bottom-btn {
  position: fixed;
  bottom: 100px; /* Position it 100px above the top of the send button */
  right: 20px;
  background-color: rgba(131, 131, 131, 0.8); /* A transparent background */
  color: rgb(114, 251, 176);
  border: none;
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
  z-index: 10; /* Higher than the chat but lower than modals/dialogs */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.scroll-to-bottom-btn:hover {
  background-color: rgb(50, 207, 44); /* Less transparent on hover */
}

/* Ensure button does not block content */
.chat-container {
  padding-bottom: 150px; /* Extra space at the bottom, adjust as needed */
}